@CHARSET "UTF-8";

ul.ax-container {
	width: 1088px;
	margin: auto;
}

ul.ax-container li {
	width: 300px;
	/*height: 500px;*/
	display: inline;
	float: left;
	margin: 6px 30px 6px 30px;
	border: 1px dotted red;
	text-align: center;
	/*overflow: hidden;*/
}

#slideshow-container {
	margin-top: 15px;
	margin-bottom: 5px;
	border: 1px dotted red;
}

#axcoto-redirect-container {
	border: 1px dashed red;
	text-align: center
}

ul.ax-container .fields {
	width: 280px;
}

div#SettingForm {
	border: 1px dotted red;
	display: none;
} 