/**********************************

Name: cmxform Styles

***********************************/
div.error { display: none; }
form.cmxform .gray * { color: grey; }
label.error {
	display: block;
	color: red;
}